body {
    background-color: #2a2a2e;
    color: #f1f1f1;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #444;
    overflow-y: auto;
}

.main-content {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

#fileInput {
    margin-bottom: 20px;
}

#treeView ul {
    list-style-type: none;
    padding-left: 20px;
}

#treeView li {
    cursor: pointer;
    padding: 5px 0;
}

#treeView .caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

#treeView .caret::before {
  content: "\25B6";
  color: #f1f1f1;
  display: inline-block;
  margin-right: 6px;
}

#treeView .caret-down::before {
  transform: rotate(90deg);
}

#treeView .nested {
  display: none;
}

#treeView .active {
  display: block;
}

#detailView h2 {
    color: #f1f1f1;
}

#detailView p {
    line-height: 1.6;
}

#detailView pre {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
